# https://pypi.org/project/graphviz/
graphviz~=0.19.1
# https://pypi.org/project/ipython/
ipython
# https://pypi.org/project/networkx/
networkx~=2.7.1
# https://pypi.org/project/dbis-exc-manager/
dbis-exc-manager~=0.2.3